<html>
    <body>
        <p>Change password</p>
<%=msg%>
      
         <form action="/changepassword" method="post">
            Old password <input type="password" name="oldpassword"/>
            New Password <input type="password" name="newpassword"/>
            Confirm Password <input type="password" name="cpassword"/>
            <input type="submit" value="Confirm"/>
            
        </form> 