<html>
    <body>
        <p>EJS Dashboard</p>
        Welcome <%=name%>
        <a href="/users/changepassword">Change Password</a>
        <a href="/users/profile">Profile</a>
        <a href="/users/logout">Logout</a>
    </body>
</html>